
*{
    margin: 0;
    padding: 0;
}
#imagesWall{
    position: relative;
    width: 864px;
    height: 540px;
    margin:100px auto;

}
#images{

}
.img{
    position: absolute;
}
.btn{
    position: absolute;
    height: 90px;
    width: 60px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 40px;
    top:50%;
    margin-top: -45px;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    display: none;
}

.btn:hover{
    background: rgba(97, 186, 199, 0.6);
}
.btnLeft {
    left: 0;

}

.btnRight{
    right: 0;
}

#tabs{
    position: absolute;
    list-style: none;
    bottom: 20px;
    left: 280px;
}
.tab{
    width: 30px;
    height: 30px;
    background: cadetblue;
    float: left;
    font-family:＂Times New Roman＂,Georgia,Serif;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    margin-right: 10px;
    cursor: pointer;
}
.bg{
    background: dodgerblue;
}