*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
    list-style-type: none;
    text-decoration: none;
}

.picNav{
    width: 1260px;
    height: 600px;
    margin-top: 70px;
    margin-left: 10%;
}
.picNav ul li{
    float: left;
    width: 100px;
    height: 600px;
}
.pic1{
    background-image: url("../image/autumnjapan1.jpg");
    background-repeat: no-repeat;
}
.pic2{
    background-image: url("../image/autumnjapan2.jpg");
    background-repeat: no-repeat;
}
.pic3{
    background-image: url("../image/autumnjapan3.jpg");
    background-repeat: no-repeat;
}
.picNav ul .pic4{
    background-image: url("../image/autumnjapan4.jpg");
    background-repeat: no-repeat;
    width: 960px;
}
.txt{
    background-color: #000;
    background: rgba(97, 186, 199, 0.4);
    height: 600px;
    width: 100px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

}
.txt p{
    color: white;
    float: left;
}
.txt .arthur{
    font-size: 20px;
    width: 20px;
    padding: 30px 10px 0px 25px;
}
.txt .title{
    font-size: 22px;
    width: 22px;
    margin-top: 30px;
}